<!--
<form {{action "save" team on="submit"}}>
	<p>
	<label> Home Team:{{input name="homeTeam" placeholder="home team" }}</label>
	</p>
	<p>
	<label> Away Team:{{input name="awayTeam" value="team.awayTeam"}}</label>
	</p>
	<p>
	<label> Home Team:{{input name="homeScore" value="team.homeScore"}}</label>
	</p>
	<p>
	<label> Away Score:{{input name="awayScore" value="team.awayScore"}}</label>
	</p>
	<p>
	<label> Home User:{{input name="homeUser" value="team.homeUser"}}</label>
	</p>
	<p>
	<label> Away User:{{input name="awayUser" value="team.awayUser"}}</label>
	</p>
{{input type="hidden" name="user_id" value= team.user_id}}
<input type="submit" value="Save"/>
<button {{action "cancel"}} id="cancel"> Cancel</button>
</form>
-->




{{yield}}